<h1>My Portfolios</h1>
<% @portfolio_items.each do |p| %>
    <h2><%= link_to p.title, portfolio_path(p.id) %></h2>
    <h3><%= p.subtitle %></h3>
    <p><%= p.body %></p>
    <%= image_tag p.thumb_image %>
<% end %>